footer {
  height: 110vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .main-container {
    margin: 2rem 2rem;

    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: start;
    h4 {
      color: #505050;
      font-size: 0.8rem;
      margin-bottom: 1rem;
    }
    p {
      color: #000;
      margin-bottom: 1.5rem;
      font-size: 10px;
    }
    p:hover {
      cursor: pointer;
      color: blue;
    }
  }
  .container-f {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 80%;
  }

  .s-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-family: $primary-font;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;

    p {
      margin-right: 2rem;
      font-weight: 400;
      color: #505050;
    }
    img {
      width: 25px;
      height: 25px;
      margin-right: 1rem;
    }
    a {
      text-decoration: none;
      color: #505050;
      font-size: 12px;
      margin-right: 1rem;
    }
  }
  .extras {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: #808080;
    }
    .globe {
      margin-left: 2rem;
      i {
        margin-right: 1rem;
        width: 20px;
        height: 20px;
      }
    }

    .link_icons {
      margin-left: 2rem;
      a {
        margin-right: 10px;
        i {
          width: 20px;
          height: 20px;
        }
      }
    }
    .para {
      font-size: 12px;
    }
  }
}
