nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 4.3rem;
  background: #f8f8f8;
  padding: 10px;
  position: sticky;
  top: 0;

  .logo {
    width: 4.125rem;
    height: 2rem;
    margin-left: 40px;
  }
  ul {
    margin-right: 33rem;

    li {
      display: inline;
      list-style: none;
      margin-right: 30px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-family: $primary-font;
        font-weight: lighter;
      }
      .fa-chevron-down {
        color: #000;
      }
    }
  }
  .sec-nav {
    margin-right: 3rem;
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      margin-right: 15px;
      cursor: pointer;
    }
    .sign {
      padding: 6px 16px;
      border-radius: 2rem;
      background: transparent;
      border: 1px solid #dadada;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
